body{
    background-color: blueviolet;
    color: chartreuse;
}

div{
    border: 5px white dotted;
}

#contenedor{
    border: 10px salmon solid;
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    */

    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 3fr;
    
}